* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

.header {
    height: 250px;
    background: #5168f4;
    border-radius: 8px;
}

.card {
    width: 90%;
    max-width: 900px;
    margin: -50px auto 0;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
    height: 140px;
    background: #4f67ff;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-right: 20px;
}

.info h2 {
    margin-bottom: 10px;
    color: #333;
}

.details {
    display: flex;
    gap: 30px;
    margin-bottom: 5px;
}

.details p {
    font-size: 14px;
    color: #555;
}

.details i {
    margin-right: 8px;
    color: #4f67ff;
}

.right {
    margin-top: 5px;
}

.bottom {
    display: flex;
}


.item {
    text-align: center;
    color: #777;
    font-size: 14px;
    padding-left: 80px;
}

.item i {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.item.active {
    color: #4f67ff;
    font-weight: bold;
}
