body{
    font-family: Arial, sans-serif;
    background: #f4f7f8;
}

.table-box{
    background: #ffffff;
    overflow: hidden;
    border: 1px solid rgba(10,10,10,0.04);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid #04AA6D;
}

th {
    background-color: #04AA6D;
    color: #fff;
    text-align: center;
    padding: 18px 20px;
}

td {
    text-align: center;
    padding: 16px 20px;
}

tr:nth-child(even) td {
    background: #fbfbfb;
}
