body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.tab-bar {
    background: #24374a;
    padding: 20px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 170px;
}

.menu li {
    position: relative;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 28px;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 40px;
    left: -20px;
    background: #2f4760;
    padding: 0;
    list-style: none;
    width: 250px;
    border-radius: 4px;
}

.dropdown-list li a {
    display: block;
    padding: 20px;
    font-size: 26px;
}

.dropdown-list li a:hover,
.dropdown-list .active {
    background: #1f84ca;
}

.dropdown:hover .dropdown-list {
    display: block;
}
