body {
    background: hsl(30, 54%, 90%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: hsl(24, 5%, 18%); 
}

img {
    width: 500px;
    height: 300px;
}

.container {
    background: white;
    width: 500px;
    padding: 20px 20px;
}

div {
    line-height: 30px;
}

.time {
    background: hsl(330, 100%, 98%);
    padding: 10px 25px;
}

h3 {
    color: hsl(332, 51%, 32%);
}

h2 {
    color: hsl(14, 45%, 36%);
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

.color {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}