body {
    font-family: Arial;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 300px;
}

.links a{
    text-decoration: none;
}